@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: yaro;
    src: url(../font/YaroSt-Thin.ttf);
}
.yaro{
    font-family: yaro;
}
body {
    @apply font-montserrat;
  }

.active{
    color: #3F97F7;
}

.text-gradient {
    background: linear-gradient(to right, #FF0049, #3F97F7);
    -webkit-background-clip: text;
    color: transparent;
}